@import './styling/reset.scss';
@import './styling/tokens.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.app-container {
  max-width: 650px;
  margin: 30px auto;
}
